* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f5f5f5;
    color: #333;
}

header{
    background-color: #333;
    color: #f5f5f5;
}
header h1{
    padding: 1rem 2rem 3rem 1rem;
    font-size: large;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    color: #f5f5f5;
    padding: 1rem;
    border-radius: 0.5rem;
}
nav a{
    color: azure;
    text-decoration: none;
}

main{
    display: grid;
    grid-template-columns: 1fr auto;
    height: 300px;
}
.main{
    background-color: rgb(177, 174, 174);
    padding-left: 1rem;
}
.aside{
    background-color: rgb(248, 248, 248);
    padding-left: 1rem;
}
footer{
    background-color: #333;
    color: #f5f5f5;
}
footer h1{
    text-align: center;
    padding-bottom: 3rem;
    font-size: large;
}