:root{
    --heading-font: "Open Sans", sans-serif;
    --body-font: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
body {
    margin: 0;
    font-family: 'Open Sans', "Roboto", Geneva, Verdana, sans-serif;
    background: #f5f5f5;
    color: #333;
}
header span{
    display: block;
    font-size: x-large;
    text-align: center;
    background-color: rgb(154, 197, 197);
    padding: 2rem;
}
nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #333;
    color: #f5f5f5;
    padding: 1rem;
}
a{
    text-decoration: none;
    color: #f5f5f5;
}
a:hover{
	text-decoration: #025927;
    background-color:  rgb(154, 197, 197);
    border: solid 1px  rgb(154, 197, 197);
    border-radius: 0.5rem;
}
main{
    margin: 1rem auto;
    max-width: 1000px;
    min-width: 200px;
    display: grid;
    gap: 1rem;
}
@media (min-width: 768px) {
  main {
    grid-template-columns: minmax(400px, 2fr) minmax(200px, 1fr);
  }
}
section h1 {
  font-size: 2rem;
}
.card{
    border: solid 1px black;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
    justify-content: center;
}
.card h1{
    grid-column: 1 / 3;
    text-align: center;
    background-color: rgb(154, 197, 197) ;
    padding-bottom: 0;
}
.card1{
    margin: 1rem;
}
.card h2{
    text-align: center;
    border-bottom: solid 1px black;
}
.card2 a{
    color: black;
}
article{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
}
img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
}
.card2 h1{
    background-color:  rgb(154, 197, 197);
    margin: 0 auto;
    
}
.card ul{
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
footer{
    text-align: center;
    background-color: rgb(154, 197, 197);
    padding: 2rem;
}